@media only screen and (min-width: 600px) {

    img{
        width: 60%;
        height: 450px;
        margin: auto;  

    }

    
}


@media only screen and (max-width: 600px) {

    img{
        width: 70%;
        height: 380px;
        margin: auto;  

    }

    
}

@media only screen and (min-width: 768px) {
img{
    top: 0;
    left: 0;
    height: 750px;
  margin: auto;  
}
carousel-item {
    max-width: 600px;
}
.carrosel{
    padding: 0 10px;
}



/*@media only screen and (min-width: 600px) { 
img{
    height: 500px;
    width: 300px;
}

carousel-item {
    max-width: 200px;
}

}*/

}