@media only screen and (min-width: 600px) {

    img{
        width: 60%;
        height: 450px;
        margin: auto;  

    }

    .carousel-control-next{
        right:50px;
    }

    .carousel-control-prev{
        left:50px;
    }

}


@media only screen and (max-width: 600px) {

    img{
        width: 70%;
        height: 350px;
        margin: auto;  

    }

    
    .carousel-control-next{
        right:50px;
    }

    .carousel-control-prev{
        left:50px;
    }
}

@media only screen and (min-width: 768px) {
img{
    top: 0;
    left: 0;
    width: 87%;
    height: 750px;
  margin: auto;  
}


}